.message-title{display: inline-block; margin-bottom: 10px; margin-top: 0;}
.control-message{float: right; display: inline-block;}
.control-message i{padding: 5px; color: #AAA;}
.control-message i:hover{color: #333; cursor: pointer;}