.well{padding: 0; overflow: hidden;}
.well .pick-icon, .well .edit-icon{padding: 10px; text-align: center;display: inline-block;margin-right: -3px;}
.well .pick-icon:hover, .well .edit-icon:hover{background-color: rgba(90, 90, 115, 0.5);cursor: pointer;}
.well .active{background-color: rgba(90, 90, 115, 0.5);}
#icon_id, #edit-icon_id{display: none;}